@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'normalize.css';

/** 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
**/
:root {
  --header-bg-color: #eeeeee;
  --footer-bg-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  list-style-type: none;
}

.--bold {
  font-weight: 700;
}

.--faded {
  opacity: 0.5;
}

.--red {
  color: #e30613;
}

.--italic {
  font-style: italic;
}

.--10px {
  font-size: 10px;
}

.--12px {
  font-size: 12px;
}

.--14px {
  font-size: 14px;
}

.--16px {
  font-size: 16px;
}

.--18px {
  font-size: 18px;
}

.--20px {
  font-size: 20px;
}

.--22px {
  font-size: 22px;
}

.--24px {
  font-size: 24px;
}

.--26px {
  font-size: 26px;
}

.--28px {
  font-size: 28px;
}

.--44px {
  font-size: 44px;
}

.--56px {
  font-size: 56px;
}

.--text-center {
  text-align: center;
}

/** INDEX **/
/* Header */

.header {
  height: 60px;
  background-color: var(--header-bg-color);
  padding: 0 2vw;
  font-family: 'Roboto', sans-serif;
}

.header__con {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 3vw;
}

.nav {
  display: flex;
}

.nav__ul {
  display: flex;
  gap: 1vw;
}

.header__link {
  margin-left: auto;
}

.ul__item,
.header__link {
  transition: transform 0.3s ease;
}

.ul__item:hover,
.header__link:hover {
  transform: translateY(-3px);
}

.ul__link:hover,
.header__link:hover {
  color: #464646;
}

/** MAIN **/

.index__main {
  padding-bottom: 4em;
}

.index__section,
.sport__section {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2em;
  font-family: 'Inter', sans-serif;
}

.section__top {
  display: flex;
  justify-content: space-between;
}

.top__section__con {
  display: flex;
  flex-direction: column;
}

.section__middle {
  display: flex;
  gap: 2vw;
}

.middle__section__h1,
.bottom__section__h1 {
  margin: 0.2em 0;
}

.middle__section__h3 {
  border-bottom: 1px solid #000;
}

.middle__section__con:nth-child(1) {
  flex: 3;
}

.middle__section__con:nth-child(2) {
  flex: 1.3;
}

.middle__section__con:nth-child(2) .middle__section__p {
  padding: 0.8em 0;
}

.bottom__section__image,
.middle__section__img {
  width: 100%;
}

/** Footer **/

.footer {
  background-color: var(--footer-bg-color);
  text-align: center;
  height: 217px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
.footer__item {
  color: #fff;
}

/** SPORT **/
.sport__main {
  font-family: 'Inter', sans-serif;
}

.sport__section {
  padding: 0;
}

.section__hero {
  padding: 0;
}

.section__articles {
  position: relative;
  bottom: 7vh;
}

.sport__section__item {
  padding: 1em 0;
}

.section__articles > .sport__section__item {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em 0;
}

.sport__section__item:nth-child(even) {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  line-height: 26px;
}

.section__item__image,
.section__item__iframe {
  width: 100%;
}

.section__item__figcaption {
  font-size: 10px;
  max-width: 133px;
  line-height: 16px;
}

/** ABONNEMENT **/

.abonnement__main {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.section__top__heading__con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.section__top__logo {
  width: 40%;
}

.abonnement__section__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 0;
}

.abonnement__section__mid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 2em;
}

.section__card {
  padding: 2em 1.2em;
  display: grid;
  gap: 2em;
  background-color: #eee;
}

.card__con {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card__content__item {
  display: flex;
  gap: 0.5em;
}

.card__price__con {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-self: flex-end;
}

.section__card button,
.abonnement__section__btn button,
.success__section__bot button,
.form__section__bot button {
  background-color: #e30613;
  border: none;
  color: #fff;
  height: 46px;
  border-radius: 4px;
  opacity: 0.9;
  font-weight: 700;
}

.abonnement__section__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #eee;
  margin: 2em 0;
  padding: 1.3em 0;
}

.abonnement__section__btn button,
.success__section__bot button,
.form__section__bot button {
  height: 30px;
  width: 160px;
}
.abonnement__section__bot {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.read__more,
button {
  cursor: pointer;
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: translateY(-3px);
  background-color: #8f000a;
}

/** SUCCESS **/

.success__main {
  font-family: 'Inter', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  padding-top: 10vh;
}

.success__section__top {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__logo__con {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.success__section__bot,
.form__section__bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #eee;
  margin-top: 10em;
  padding: 1.3em 0;
}

/** FORM **/

.form__main {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.abonnement__section__mid button a {
  color: #fff;
}

.abonnement__section__mid button {
  width: 100%;
}

.form__section__top {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 0;
}

.form__group__con {
  background-color: #eee;
  padding: 7% 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.signup__form {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2em;
}

.form__inputs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1em;
  column-gap: 3em;
}

.form__inputs label {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}

.form__inputs label::after {
  content: ' *';
  color: red;
}

.signup__form input {
  border: none;
  height: 23px;
}

.form__checkbox {
  padding-left: 6em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1em;
  column-gap: 0.5em;
}

.form__checkbox input {
  justify-self: end;
}

.form__price__con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__price__info {
  background-color: #eee;
  padding: 7% 5%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  line-height: 16px;
}
.border__con {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.rabat {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.normalpris,
.rabat,
.pris__i__alt {
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
}

.form__submit {
  background-color: #e30613;
  border: none;
  color: #fff;
  height: 46px;
  border-radius: 4px;
  opacity: 0.9;
  font-weight: 700;
}

.form__section__bot {
  margin-top: 5em;
}
